@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Shrikhand&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: calc(1em + 0.5rem);
}

html,
body {
  height: 100%;
}

html {
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  display: block;
  outline: none;
}
input:focus,
button:focus,
textarea:focus,
select:focus {
  outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

input[type=submit]:hover,
button:hover {
  cursor: pointer;
}

input::-ms-clear {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
}

textarea {
  overflow: auto;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .restaurant__cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 15px;
  }
}
@media screen and (min-width: 992px) {
  .restaurant__cards {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 15px;
  }
  .restaurant__cards .restaurant__card .card__img img {
    height: 400px;
  }
}
body {
  font-family: "Roboto", sans-serif;
  color: #000;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 30px;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 400;
}

p {
  font-size: 18px;
  font-weight: 300;
}

input {
  outline: none;
  border: none;
  background: transparent;
}

input::placeholder {
  color: #353535;
}

li {
  list-style: none;
}

i {
  color: #7e7e7e;
}

a {
  color: black;
  text-decoration: none;
}

header {
  padding: 7px 0;
}
header .header__logo > img {
  object-fit: contain;
  margin: 0 auto;
  width: 160px;
  height: 44px;
}

main .top-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
}
main .top-page .top-page__form {
  padding: 10px 0;
  width: 100%;
  background-color: #eaeaea;
}
main .top-page .top-page__form form {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .top-page .top-page__form form i {
  margin-right: 17px;
}
main .top-page__location {
  display: flex;
  flex-direction: column;
  padding: 30px 10px;
}
main .top-page__location h2 {
  text-align: center;
  padding: 0px 10px;
  margin-bottom: 10px;
}
main .top-page__location p {
  text-align: center;
  font-size: 17px;
  margin-bottom: 25px;
}
main .indications {
  padding: 35px 10px;
}
main .indications .indications__header {
  margin-left: 10px;
}
main .indications .indications__header h2 {
  margin-bottom: 24px;
}
main .indications .indications__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  counter-reset: list;
}
main .indications .indications__list li {
  width: 90%;
  padding: 20px 0px;
  background: #f7f7f7;
  box-shadow: 1px 3px 10px -2px rgba(153, 153, 153, 0.7);
  border-radius: 20px;
  margin-bottom: 24px;
}
main .indications .indications__list li::before {
  content: "" counter(list);
  counter-increment: list;
  display: inline-flex;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #9356dc;
  color: white;
  position: relative;
  top: 0;
  left: -12px;
}
main .indications .indications__list li:last-child {
  margin-bottom: 0;
}
main .indications .indications__list li:hover {
  cursor: pointer;
  background-color: #f5edff;
  transition: 0.2s ease-in;
}
main .indications .indications__list li:hover i {
  color: #9356dc;
  transition: 0.2s ease-in;
}
main .indications .indications__list li span {
  margin-right: 20px;
}
main .restaurant {
  padding: 35px 15px 45px 15px;
  background-color: #f7f7f7;
}
main .restaurant .restaurant__header {
  margin-bottom: 10px;
}
main .restaurant .restaurant__cards {
  display: grid;
  grid-row-gap: 15px;
}
main .restaurant .restaurant__card {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-row-gap: 15px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 1px 3px 10px -2px rgba(153, 153, 153, 0.6);
}
main .restaurant .restaurant__card .card__img {
  position: relative;
}
main .restaurant .restaurant__card .card__img span {
  top: 2vh;
  right: 1vw;
  position: absolute;
}
main .restaurant .restaurant__card .card__img img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  position: relative;
}
main .restaurant .restaurant__card .card__content {
  padding: 10px 12px;
  background-color: #fff;
  position: relative;
}
main .restaurant .restaurant__card .card__content h2 {
  font-size: 18px;
}
main .restaurant .restaurant__card .card__content p {
  font-size: 17px;
}
main .restaurant .restaurant__card .card__content .heart-gradient {
  position: absolute;
  top: 4vh;
  right: 6vh;
}
main .restaurant .restaurant__card .card__content i {
  position: absolute;
  transform: translateY(-50%);
  font-size: 25px;
}
main .restaurant .restaurant__card .card__content i:hover {
  cursor: pointer;
}

button {
  color: #fff;
  background: linear-gradient(360deg, #9356dc -10%, #ff79da 101%);
  padding: 13px 18px;
  width: 80%;
  margin: 0 auto;
  outline: none;
  border: none;
  font-size: 16px;
  font-weight: 500;
  border-radius: 25px;
}
button:hover {
  transition: 0.2s ease-in;
  background: linear-gradient(360deg, #9f6ddc -10%, #fa91dc 100%);
}

.new_label {
  background-color: #99E2D0;
  color: #008766;
  padding: 4px 10px;
  font-weight: 500;
  border-radius: 2px;
}

.heart-gradient .fas {
  color: transparent;
  opacity: 0;
}
.heart-gradient .fas:hover {
  background-image: linear-gradient(360deg, #9356dc -10%, #ff79da 101%);
  -webkit-background-clip: text;
  background-clip: text;
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.menu__item .menu__item-label {
  position: absolute;
  right: -19vw;
  top: 0;
  background-color: #99E2D0;
  height: 100%;
  width: 50px;
}
.menu__item:hover {
  cursor: pointer;
}
.menu__item:hover .menu__item-label {
  background-color: #99E2D0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.7s ease-in;
  right: 0vw;
}
.menu__item:hover .menu__item-label i {
  color: #fff;
  font-size: 20px;
  animation-duration: 1s;
  transition: 0.1s ease-in;
  animation-name: rotation;
  animation-fill-mode: both;
  animation-direction: alternate-reverse;
}

footer {
  padding: 22px 0px 22px 15px;
  background-color: #353535;
}
footer .footer__container .footer__header-title {
  margin-bottom: 16px;
}
footer .footer__container .footer__header-title h3 {
  color: white;
  font-family: "Shrikhand", sans-serif;
}
footer .footer__container .footer__links {
  display: flex;
  flex-direction: column;
}
footer .footer__container .footer__links li {
  line-height: 20px;
}
footer .footer__container .footer__links li span i {
  color: #fff;
  margin-right: 11px;
  height: 20px;
  width: 20px;
}
footer .footer__container .footer__links li a {
  color: #fff;
  font-weight: 500;
}

.header__arrow {
  position: absolute;
  top: 2vh;
  left: 6vw;
}
.header__arrow .arrow__icon i {
  color: #353535;
  font-size: 20px;
}
.header__arrow .arrow__icon i:hover {
  cursor: pointer;
}

.main__restaurant .restaurant__img img {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 275px;
}
.main__restaurant .restaurant__menu {
  position: absolute;
  padding: 32px 20px;
  top: 44.5vh;
  width: 100%;
  border-radius: 30px 30px 0 0;
  background-color: #f7f7f7;
}
.main__restaurant .restaurant__menu .menu__header {
  margin-bottom: 25px;
}
.main__restaurant .restaurant__menu .menu__header h1 {
  font-weight: 400;
  color: #101010;
  font-size: 22px;
}
.main__restaurant .restaurant__menu .menu__header i {
  top: 6.5vh;
  right: 7vw;
  position: absolute;
  transform: translateY(-50%);
  font-size: 25px;
}
.main__restaurant .restaurant__menu .menu__header i:hover {
  cursor: pointer;
}
.main__restaurant .restaurant__menu .menu__container .menu__header h2 {
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
}
.main__restaurant .restaurant__menu .menu__container .menu__header::after {
  content: "";
  height: 3px;
  width: 40px;
  background: #99e2d0;
  display: block;
}
.main__restaurant .restaurant__menu .menu__container .menu__items .menu__item {
  overflow: hidden;
  position: relative;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 1px 3px 10px -2px rgba(153, 153, 153, 0.4);
}
.main__restaurant .restaurant__menu .menu__container .menu__items .menu__item:last-child {
  margin-bottom: 30px;
}
.main__restaurant .restaurant__menu .menu__container .menu__items .menu__item h3 {
  font-size: 15px;
  font-weight: 500;
}
.main__restaurant .restaurant__menu .menu__container .menu__items .menu__item p {
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 190px;
}
.main__restaurant .restaurant__menu .menu__container .menu__items .menu__item span {
  position: absolute;
  right: 6vw;
  bottom: 1.5vh;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 13px;
}

/*# sourceMappingURL=style.css.map */
