button {
  color: #fff;
  background: $linear-gradient;
  margin: 0 auto;
  outline: none;
  border: none;
  font-size: 16px;
  font-weight: 500;
  border-radius: 25px;

  &:hover {
    transition: 0.2s ease-in;
    background: $linear-gradient-light;
  }
}

.explore__menu {
  padding: 13px 18px;
  width: 80%;
}

.order {
  text-align: center;
  padding: 13px 10px;
  margin: 0 auto;
}
