.menu__item {
  .menu__item-label {
    position: absolute;
    right: -19vw;
    top: 0;
    background-color: $new_label-bg;
    height: 100%;
    width: 50px;
  }

  &:hover {
    cursor: pointer;

    .menu__item span {
    }
    .menu__item-label {
      background-color: $new_label-bg;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.7s ease-in;
      right: 0vw;
      & i {
        color: #fff;
        font-size: 20px;
        animation-duration: 1s;
        transition: 0.1s ease-in;
        animation-name: rotation;
        animation-fill-mode: both;
        animation-direction: alternate-reverse;
      }
    }
  }
}
