.header__arrow {
  position: absolute;
  top: 2vh;
  left: 6vw;

  .arrow__icon i {
    color: #353535;
    font-size: 20px;

    &:hover {
      cursor: pointer;
    }
  }
}

.main__restaurant {
  .restaurant__img img {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 275px;
  }

  .restaurant__menu {
    position: absolute;
    padding: 32px 20px;
    top: 44.5vh;
    width: 100%;
    border-radius: 30px 30px 0 0;
    background-color: #f7f7f7;

    .menu__header {
      margin-bottom: 25px;
      h1 {
        font-weight: 400;
        color: #101010;
        font-size: 22px;
      }
      & i {
        top: 6.5vh;
        right: 7vw;
        position: absolute;
        transform: translateY(-50%);
        font-size: 25px;

        &:hover {
          cursor: pointer;
        }
      }
    }
    .menu__container {
      .menu__header {
        h2 {
          font-size: 16px;
          font-weight: 300;
          line-height: 30px;
        }
        &::after {
          content: "";
          height: 3px;
          width: 40px;
          background: #99e2d0;
          display: block;
        }
      }
      .menu__items {
        .menu__item {
          cursor: pointer;
          max-width: 100%;
          display: flex;
          overflow: hidden;
          position: relative;
          padding: 10px;
          margin-bottom: 12px;
          border-radius: 15px;
          background-color: #fff;
          box-shadow: 1px 3px 10px -2px rgba(153, 153, 153, 0.4);

          &:last-child {
            margin-bottom: 30px;
          }
          .menu__item-header {
            flex: 1;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            h3 {
              font-size: 15px;
              font-weight: 500;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            p {
              font-size: 13px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              max-width: 220px;
            }
          }
          .menu__item-price {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            margin-right: -0.8rem;
            span {
              font-family: "Roboto", sans-serif;
              font-weight: 700;
              font-size: 13px;
            }
          }
          .menu__item-checking {
            background-color: $tertiary;
            width: 4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.4s ease-in-out;
            margin: -1rem -5rem -1rem 1.8rem;

            & i {
              height: 1.3rem;
              width: 1.3rem;
              background-color: white;
              color: $tertiary;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 100px;
            }
          }
          &:hover {
            & .menu__item-checking {
              margin-right: -1rem;
            }
          }
        }
      }
    }
  }
}
