.header__arrow {
  position: absolute;
  top: 2vh;
  left: 6vw;

  .arrow__icon i {
    color: #353535;
    font-size: 20px;

    &:hover {
      cursor: pointer;
    }
  }
}

.main__restaurant {
  .restaurant__img img {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 275px;
  }

  .restaurant__menu {
    position: absolute;
    padding: 32px 20px;
    top: 44.5vh;
    width: 100%;
    border-radius: 30px 30px 0 0;
    background-color: #f7f7f7;

    .menu__header {
      margin-bottom: 25px;
      h1 {
        font-weight: 400;
        color: #101010;
        font-size: 22px;
      }
      & i {
        top: 6.5vh;
        right: 7vw;
        position: absolute;
        transform: translateY(-50%);
        font-size: 25px;

        &:hover {
          cursor: pointer;
        }
      }
    }
    .menu__container {
      .menu__header {
        h2 {
          font-size: 16px;
          font-weight: 300;
          line-height: 30px;
        }
        &::after {
          content: "";
          height: 3px;
          width: 40px;
          background: #99e2d0;
          display: block;
        }
      }
      .menu__items {
        .menu__item {
          overflow: hidden;
          position: relative;
          padding: 10px;
          margin-bottom: 12px;
          border-radius: 15px;
          background-color: #fff;
          box-shadow: 1px 3px 10px -2px rgba(153, 153, 153, 0.4);

          &:last-child {
            margin-bottom: 30px;
          }
          h3 {
            font-size: 15px;
            font-weight: 500;
          }
          p {
            font-size: 13px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 190px;
          }
          span {
            position: absolute;
            right: 6vw;
            bottom: 1.5vh;
            font-family: "Roboto", sans-serif;
            font-weight: 700;
            font-size: 13px;
          }
        }
      }
    }
  }
}
