// Variables de couleurs : Les 3 principales du site
$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;

// Bouton, Coeur
$linear-gradient: linear-gradient(360deg, $primary -10%, $secondary 101%);


// Etiquette (Nouveau)
$new_label-bg: #99E2D0;
$new_label-color: #008766;

// Footer background
$footer-bg: #353535;