// Variables de couleurs : Les 3 principales du site
$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;


// Bouton
$linear-gradient: linear-gradient(360deg, $primary -10%, $secondary 101%);
