main {
  & .top-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;

    & .top-page__form {
      padding: 10px 0;
      width: 100%;
      background-color: #eaeaea;
      form {
        display: flex;
        justify-content: center;
        align-items: center;

        i {
          margin-right: 17px;
        }
      }
    }
  }
  & .top-page__location {
    display: flex;
    flex-direction: column;
    padding: 30px 10px;

    h2 {
      text-align: center;
      padding: 0px 10px;
      margin-bottom: 10px;
    }
    p {
      text-align: center;
      font-size: 17px;
      margin-bottom: 25px;
    }
  }

  .indications {
    padding: 35px 10px;

    .indications__header {
      margin-left: 10px;
      h2 {
        margin-bottom: 24px;
      }
    }
    .indications__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      counter-reset: list;

      & li {
        width: 90%;
        padding: 20px 0px;
        background: #f7f7f7;
        -webkit-box-shadow: 1px 3px 10px -2px rgba(153, 153, 153, 0.84);
        box-shadow: 1px 3px 10px -2px rgba(153, 153, 153, 0.84);
        border-radius: 20px;
        margin-bottom: 24px;

        &::before {
          content: "" counter(list);
          counter-increment: list;
          display: inline-flex;
          justify-content: center;
          width: 24px;
          height: 24px;
          border-radius: 50%;
          background-color: $primary;
          color: white;
          position: relative;
          top: 0;
          left: -12px;
        }
        &:last-child {
          margin-bottom: 0;
        }

        &:hover {
          cursor: pointer;
          background-color: #f5edff;
          transition: 0.2s ease-in;

          i {
            color: $primary;
            transition: 0.2s ease-in;
          }
        }

        span {
          margin-right: 20px;
        }
      }
    }
  }
}
