main {
  & .top-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;

    & .top-page__form {
      padding: 10px 0;
      width: 100%;
      background-color: #eaeaea;
      form {
        display: flex;
        justify-content: center;
        align-items: center;

        i {
          margin-right: 17px;
        }
      }
    }
  }
  & .top-page__location {
    display: flex;
    flex-direction: column;
    padding: 30px 10px;

    h2 {
      text-align: center;
      padding: 0px 10px;
      margin-bottom: 10px;
    }
    p {
      text-align: center;
      font-size: 17px;
      margin-bottom: 25px;
    }
  }

  .indications {
    padding: 35px 10px;

    .indications__header {
      margin-left: 10px;
      h2 {
        margin-bottom: 24px;
      }
    }
    .indications__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      counter-reset: list;

      & li {
        width: 90%;
        padding: 20px 0px;
        background: #f7f7f7;
        box-shadow: 1px 3px 10px -2px rgba(153, 153, 153, 0.7);
        border-radius: 20px;
        margin-bottom: 24px;

        &::before {
          content: "" counter(list);
          counter-increment: list;
          display: inline-flex;
          justify-content: center;
          width: 24px;
          height: 24px;
          border-radius: 50%;
          background-color: $primary;
          color: white;
          position: relative;
          top: 0;
          left: -12px;
        }
        &:last-child {
          margin-bottom: 0;
        }

        &:hover {
          cursor: pointer;
          background-color: #f5edff;
          transition: 0.2s ease-in;

          i {
            color: $primary;
            transition: 0.2s ease-in;
          }
        }

        span {
          margin-right: 20px;
        }
      }
    }
  }

  .restaurant {
    padding: 35px 15px 45px 15px;
    background-color: #f7f7f7;

    .restaurant__header {
      margin-bottom: 10px;
    }

    .restaurant__cards {
      display: grid;
      grid-row-gap: 15px;
    }

    .restaurant__card {
      border-radius: 15px;
      overflow: hidden;
      box-shadow: 1px 3px 10px -2px rgb(153 153 153 / 60%);


      & .card__img {
        position: relative;
        & span {
          top: 2vh;
          right: 2vh;
          position: absolute;
        }
      }
      & .card__img img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        position: relative;
      }
      & .card__content {
        padding: 10px 12px;
        background-color: #fff;
        position: relative;

        & h2 {
          font-size: 18px;
        }

        & p {
          font-size: 17px;
        }

        & .content__heart-gradient {
          position: absolute;
          top: 4vh;
          right: 5vh;
        }
        & i {
          position: absolute;
          transform: translateY(-50%);
          font-size: 25px;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
